section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1840px;
    max-height: 456px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ebf0fa;
    border-radius: 10px;
    margin-top: 26px;
}

.text_content {
    max-width: 511px;
    font-family: Manrope;
    font-size: 17px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: left;
    color: rgba(114, 114, 114, 1);
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.content2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ebf0fa;
    padding: 0px 0px 0 7%;
}

.content2 h1 {
    color: rgba(31, 66, 132, 1);
    font-family: Manrope;
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    margin: 0;
}

.button_modal {
    background-color: #244c98;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 341px;
    height: 68px;
    border-radius: 60px;
}

.button_modal .text {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.img_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img_button img {
    width: 48px;
}

.img {
    max-height: 456px;
    width: 50%;
    padding: 0;
}

.img img {
    max-height: 456px;
    border-radius: 0px 10px 10px 0px;
    width: 100%;
}

@media (max-width: 1440px) {
    .modal {
        left: 33% !important;
    }

    .text_content {
        font-size: 17px;
        line-height: 27.2px;
    }

    .button_modal .text {
        font-size: 18px;
        line-height: 28.8px;
    }

    .content2 h1 {
        font-size: 26px;
        line-height: 41.6px;
    }
}

@media (max-width: 1024px) {
    .modal {
        left: 24% !important;
    }

    .container {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        margin: 15px;
        max-height: 100%;
    }

    .content2 {
        width: 100%;
        padding: 30px;
        border-radius: 10px 10px 0px 0px;
    }

    .content {
        width: 100%;
    }

    .text_content {
        max-width: 100%;
    }

    .img {
        width: 100%;
    }

    .img img {
        border-radius: 0px 0px 10px 10px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .modal {
        left: 16% !important;
    }

    .button_modal {
        max-width: 261px;
        height: 56px;
    }

    .text_content {
        font-size: 15px;
        line-height: 24px;
    }

    .button_modal .text {
        font-size: 15px;
        line-height: 24px;
    }

    .content2 h1 {
        font-size: 20px;
        line-height: 32px;
    }
}

@media (max-width: 375px) {
    .modal {
        left: 4% !important;
        top: 15px !important;
        width: 320px !important;
    }

    .content2 {
        padding: 20px;
    }

    .text_content {
        font-size: 13px;
        line-height: 20px;
    }

    .button_modal .text {
        font-size: 15px;
        line-height: 24px;
    }

    .content2 h1 {
        font-size: 17px;
        line-height: 27px;
    }

    .button_modal {
        max-width: 279px;
        height: 60px;
    }

    .img_button img {
        width: 36px;
    }
}

/* modal */
.close:hover {
    transform: scale(1.1);
}

.modal {
    position: absolute;
    left: 35%;
    top: 100px;
    background-color: #f0f4fc;
    padding: 0;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
    padding: 15px;
}

.modal_header {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.modal_body {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 500;
    line-height: 32.78px;
    text-align: left;
    color: rgba(50, 50, 50, 1);
}

.close {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.login {
    display: flex;
    flex-direction: column;
}

.login input {
    border: none;
    background: rgba(215, 226, 246, 1);
    padding-left: 23px;
    height: 73px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0px;
    margin-bottom: 10px;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.59px;
    text-align: left;
}

.login input::-webkit-input-placeholder {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.59px;
    text-align: left;
}

.checkbox {
    display: flex;
    flex-direction: row;
    height: 80px;
}

.checkbox input {
    width: 18px;
    border: 2px solid rgba(50, 50, 50, 1)
}

.modal-animation {
    animation-name: animatetop;
    animation-duration: 0.8s
}

.new_pass {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    line-height: 27.32px;
    text-align: left;
    color: rgba(36, 76, 152, 1);
    margin: 0;
    margin-bottom: 25px;
}

.remmber_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.remember {
    margin: 0;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    text-align: left;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons button {
    width: Fill (452px)px;
    height: Hug (65px)px;
    padding: 18px 12px 18px 12px;
    gap: 64px;
    border-radius: 4px;
    opacity: 0px;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: center;
}

.login_but:hover {
    color: black;
    border: 1px solid rgba(36, 76, 152, 1);
    background-color: #d7e2f6;
}

.singup_but:hover {
    border: none;
    background-color: #d7e2f6;
    color: black;
}

.login_but {
    border: none;
    background-color: #244c98;
    color: white;
    margin-bottom: 15px;
}

.singup_but {
    border: 1px solid rgba(36, 76, 152, 1);
    background-color: #f0f4fc;
}

@keyframes animatetop {
    from {
        top: 0px;
        opacity: 0
    }

    to {
        top: 200px;
        opacity: 1
    }
}
